<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication"
        tools:targetApi="31">
        <activity
            android:name=".ui.activity.patient.SpecializationDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.patient.DoctorDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.patient.ListDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.patient.ConditionDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.admin.AddDoctorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.admin.DoctorProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.admin.AddConditionActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.admin.UserProfileActivity"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".ui.activity.patient.ListConditionMatchActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.patient.DiagnosisActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.doctor.DoctorActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.auth.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.admin.AdminActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.auth.VerifyActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activity.auth.LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".ui.activity.auth.SignupActivity"
            android:exported="false"
            android:label="@string/title_activity_signup" />
        <activity
            android:name=".ui.splash.SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.patient.PatientActivity"
            android:exported="false"
            android:label="@string/title_activity_main" />
    </application>

</manifest>